*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

#header{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(../images/bg-body.jpg);
    background-position:center;  
    background-attachment: fixed;
}
.myProfile{
   
    padding-top:100px; 
    font-weight:bold;
}
.title p{
    color:rgb(190, 185, 185);

}
.userBox img{
   border-left: 15px solid#3dbeb0;
    border-bottom: 15px solid#3dbeb0;
    border-right: 15px solid #727478;
    border-top: 15px solid#727478;
    width:225px;
}
.userBox h1{
    color:#fff;
    font-weight: bold;
    margin:10px;
}
.userBox p{
     color:#fff;
    font-weight: bold;
}
.nav-bar{
    top:0;
    position:sticky;
    z-index:2;
}
.navbar{
    background-color: #000;
}
.navbar-brand img{
    height:50px;
}
.nav-bar .fa-bars{
    font-size: 35px;
    color:white;
   
}
.navbar-toggler{
     outline:none !important;
}
.navbar-nav{
  float:right;
  text-align:right;  
}

.nav-link{
    color:#fff  !important;
}

 #about-me
{
    padding-top: 100px;
    
   
} 

 .description {
    background-color: rgba(248, 248, 248);
    color:rgb(100, 99, 99);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    font-size: large;
    font-weight: 400;
    line-height: 2;
    word-break: keep-all;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80vw;
}
.colored_Text {
    color: #3dbeb0;
}
.about-title,.portfolio-title,.contact-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #727478;
}

.myPortfolio{
    margin-top: -100px;
    padding-top: 25px;
    margin-bottom:100px;
}
 .myPortfolio h2{
    padding-bottom: 60px;
} 
.single-item {
  -webkit-transition: all 0.3 linear;
  transition: all 0.3 linear;
}
.single-item:hover {
  -webkit-box-shadow: 0 10px 15px rgb(0, 0, 0);
  box-shadow: 0 10px 15px rgb(0, 0, 0);
}


/* Contact Section */

.myContact{
    padding-top:50px;
    background: linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0, 0.2));
    background-position: center;
    background-attachment: fixed;
   color:rgb(100, 99, 99);
}
.myContact .row{
    padding:10px 0;
    font-size:22px;
    
}
.myContact .col-md-4 .fa{
    padding: 10px;
    font-size:40px;
    
   
}
.myContact .btn{
    margin:5px 10px;
    
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
     border:2px solid #fff;
    background:#3dbeb0;
}

.myContact .btn:focus{
     box-shadow:none !important;
}  
.myContact .btn:hover{
    border: 2px solid #000 !important;
    background: rgb(187, 218, 197) !important;
    transition: 0.6s;
}
.footer{
    background: #000;
    height:50px;
    margin-top:50px;
    color:#fff;
    padding-top:10px;
}
.social-icons{
    top:50%;
    transform: translateY(-50%);
    position:sticky;
    z-index:1;
    width: 80px;
}
.social-icons ul{
    padding:initial;
}
.social-icons ul li{
    height:40px;
    width:40px;
    list-style-type:none;
    padding-left: 12px;
    padding-top:6px;
    margin-top:5px;
    color: #fff;
     background:#000;
}
.social-icons ul li:hover{
    padding-left: 30px;
    width:80px;
    transition:1s;
   
    
}

/* Media Queries */
@media only screen and (max-width: 770px) {
    
    .title h1{
        padding-top:30px;
    }
    .description{
        text-align:left;
    }
    
}

